
/* !Hero Img */
.heroImage{
  padding: 40px;
  padding-top: 0px;
  margin-top: -20px;
  justify-content: space-between;
  align-items: flex-end;
  background-image: 
  linear-gradient(180deg, rgb(0, 48, 73), 
  rgba(79, 0, 112, 0.2),
  rgba(79, 0, 112, 0.1), 
  rgba(79, 0, 112, 0.2),
  rgba(0, 48, 73, 1) )
  ,url(https://images8.alphacoders.com/115/thumb-1920-1155168.jpg);
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.heroImageContainer{
  padding-top: 15vh;
}

.heroImage .title{
  font-size: 5em;
  max-width: 45vw;
  color:White;
}

.heroImage p{
  font-size: 1.1em;
  max-width: 45vw;
  color:white;
  opacity: 0.8;
  line-height: 1.5em;
  margin-bottom: 30px;
  margin-top: 30px;
}

.heroImage .downloads img{
  width: 10rem;
  margin: 20px;
  margin-left: 0px;
  opacity: 0.8;

  transition: 200ms;
  transition: transform 300ms ease-out;

  border: solid 1px White;
  border-radius: 10px;
}

.heroImage .downloads img:hover,
.heroImage .downloads img:active{
  transform: scale(1.1);
  opacity: 1;
  border: solid 2px White;
}
